APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Download-Upgradeable-Packages "1";
APT::Periodic::AutocleanInterval "7";
APT::Periodic::Unattended-Upgrade "1";
APT::Periodic::Verbose "{{ unattended_verbose }}";
APT::Periodic::RandomSleep "{{ unattended_random_sleep }}";
